.component {
  background-color: #f8f9fa;
  padding: 1rem;
}

.list {
  padding: 0;
  margin: 0;
}

.item {
  display: flex;
  padding: 1rem;
}

.item:hover {
  background-color: #e9ecef;
}

.email {
  margin: 0;
  min-width: 350px;
}

.roles {
  margin: 0;
}
