html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee2dc;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

a {
  color: #ac3b61;
}

h1,
h2,
h3 {
  color: #123c69;
}

.content {
  width: 70%;
  margin: 4em auto;
  min-height: 70vh;
  font-size: 1.2em;
  line-height: 1.4em;
}

.footer {
  width: 100%;
  display: flex;
  background-color: #ac3c6112;
  padding: 5px 0 25px;
}

.footer__section {
  flex-grow: 1;
  padding: 0 15px;
}

.section__header {
 color: #123c69;
}

.communities {
  margin: 0;
  padding: 0;
  list-style: none;
}

.communities > li {
  margin: 0;
  padding: 5px;
}

@media only screen
and (max-device-width : 480px) {

  .header {
    width: 100%;
    font-size: 1.6em;
  }

  .header h1 {
    padding: 0 1em;
  }

  .content {
    width: 100%;
    padding: 0 1em;
    box-sizing: border-box;
  }

  .main-menu__list {
    display: block;
    padding: 0 1em;
  }

  .main-menu__item {
    font-size: 1.2em;
    text-align: left;
    margin-bottom: 0.6em;
  }

  .footer {
    flex-wrap: wrap;
  }
}
