.component {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 5em;
  padding: 20px;
  background-color: #f0f0f0;
}

.component section {
  width: 33.33%;
}
@media (max-width: 768px) {
  .component {
    flex-direction: column;
  }

  .component section {
    width: 100%;
  }
}
