@media print {
  body {
    background-color: transparent;
  }

  .columns {
    margin: auto;
  }

  .columns__col {
    display: block;
  }

  .columns__col_left,
  .columns__col_right {
    width: 100%;
  }

  .columns__col_right {
    margin-top: 20px;
  }

  .about {
    width: 100%;
  }

  body > h1 {
    line-height: 1em;
    margin-top: 0;
  }

  a {
    color: inherit !important;
  }

  a[href^="http://"]:after {
    content: " (" attr(href) ")";
    font-size: 90%;
    text-decoration: none;
  }

  .experience-info {
    page-break-before: always;
  }

  .columns__col_right {
    page-break-before: always;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
  }

  p {
    page-break-inside: avoid;
  }

  .menu {
    display: none;
  }
}

